################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ceftest/bin
/ceftest/obj
/packages
